.left-img {
  height: 100%;
  width: 100%;
  background-image: url(/IMAGES/960011.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.progress {
  margin: 100px 0px;
}
