nav {
  box-shadow: 0px 15px 10px -15px #787878;

  background: rgb(139, 1, 1);
  background: linear-gradient(
    351deg,
    rgba(139, 1, 1, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
}

.card-body {
  display: flex;
  justify-content: left;
  align-items: center;
}
.card-body .text > p {
  margin: 0;
}
.card-body img {
  margin-right: 30px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
@media (max-width: 575.98px) {
  .links {
    display: none;
  }
  nav .form-control {
    width: 30px;
    margin: 10px;
  }
  nav .btn-outline-success {
    padding: 0px 10px;
    margin: 0;
  }
  nav .container {
    text-align: center;
  }
}
.btn:hover {
  background-color: red !important;
  border-color: white !important;
}
